.welcome {

        text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        font: 'CourierPrime-Regular.ttf';
        color: #DC143C;
        font-size: 20px;
        letter-spacing: 2px;
        margin: 0;
        font-weight: 600;
        }

    h2 {
        color: #DC143C;
        margin-top: 20px;
        font-weight: 600;
        font-size: 48px;
        font: 'CourierPrime-Regular.ttf';
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;

        &::before {
                content: '[user@mycomputer]';
                font: 'CourierPrime-Regular.ttf';
                color: #01ff23;
                font-size: 12px;
                position: absolute;
                margin-top: -20px;
                left: 40px;
                opacity: 0.8;
            }
        
            &::after {
                content: '|';
                font: 'CourierPrime-Regular.ttf';
                color: #01ff23;
                font-size: 16px;
                font-weight: 400;
                position: absolute;
                margin-top: 60px;
                left: 40px;
                animation: fadeIn 1s 1.7s infinite;
                opacity: 0.8;
    }
}

        h3 {
            font: 'CourierPrime-Regular.ttf';
            color: #DC143C;
            font-size: 14px;
            letter-spacing: 2px;
            margin: 0;
            font-weight: 400;
            animation: fadeIn 1s 2s backwards;
        }


.flat-button {
    color: #01ff23;
    font: 'CourierPrime-Regular.ttf';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #01ff23;
    margin-top: 30px;
    float: left;
    animation: fadeIn 1s 2.4s backwards;
    white-space: nowrap;
    border-radius: 4px;

    &:hover {
        background: #DC143C;
        color: black;
    }
}

}

.syllabus {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(40%);
    width: 80%;
    max-height: 90%;

    p {     
            font-size: 16px;
            letter-spacing: 2px;
            color: #DB0049;
        }
    
        * {
            font: 'CourierPrime-Regular.ttf';
        }
    
        a {
            color: #01ff23;
            text-decoration: none;
        }
    
        .section--top {
            height: 100vh;
            width: 100vw;
            background-image: url("#");
            background-position: center;
            background-size: cover;
        }
    
        .section--about {
            padding-top: 60px;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        .about__text {
            padding-bottom: 40px;
        }
    
        .border {
            border: 1px solid #01ff23;
            animation: fadeIn 2s 2.4s infinite;
            }
    
        .about__syllabus {
            padding-left: 10px;
            padding-right: 10px;
        }
    
        .img__galeria {
            width: 100%;
            height: auto;
        }
    
        .artwork__item {
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        .section--contact {
            padding-left: 10px;
            padding-right: 10px;
        }

        .contact__text {
            text-align: center;
            font-size: 12px;
            letter-spacing: 1px;
            color: #01ff23;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    
        .contact__column {
            width: 100%;
        }
    }

    @media (min-width: 320px) and (orientation: vertical)  {
    
            .syllabus {
                display: inline-block;
            }
        }