@media screen {
    .page{
        min-width: 640px
        
    }

    .descripcion {
        padding-top: 80px;
        padding-bottom: 60px;
        padding-left: 40px;
        position: absolute;
    }

        .gallery {
    
            padding-top: 80px;
            padding-bottom: 150px;
            width: 80%;
            
    
            .processing-works {
                padding-top: 300px;
                }
    
    
            .processingWork {
                width: 100%;
                padding-left: 40px;
                padding-right: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                animation: fadeIn 1s 1.8s backwards;
    
                &:nth-of-type(1) {
                    animation-delay: 1.2s;
                }
    
                &:nth-of-type(2) {
                    animation-delay: 1.4s;
                }
    
                &:nth-of-type(3) {
                    animation-delay: 1.6s;
                }
    
                &:nth-of-type(4) {
                    animation-delay: 1.8s;
                }
            }
    
        }
}