.programa {
    position: absolute;
    left: 10%;
    top: 5%;
    transform: translateY(10%);
    width: 80%;
    max-height: 90%;

    p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 2;
        color: #e1d5e4;
    }

    * {
        font: 'CourierPrime-Regular.ttf';
    }

    a {
        color: #01ff23;
        text-decoration: none;
    }

    
    .border {
        border: 1px solid #01ff23;
        animation: fadeIn 2s 2.4s infinite;
    }

    .about__programa {
        padding-left: 10px;
        padding-right: 10px;
    }

    
}

@media (min-width: 320px) and (orientation: vertical) {

    .programa {
        display: inline-block;
    }
}